.vs/DemoRabbitMqMicroService/
Contract/bin/
Contract/obj/
Producer/obj/
Consumer/obj/
Platform/bin/
Producer/bin/
Platform/obj/
Consumer/bin/
.logs/
.db/
.audit-db/
Common/obj/
node_modules/
Common/bin/
ClientUI/ClientApp/src/util/firebaseconfig.js
